body {
      font-family: Arial, Helvetica, sans-serif;
      background: #f3f6fb;
      margin: 0;
      padding: 30px;
    }

    h1 {
      text-align: center;
      margin-bottom: 25px;
      color: #0f172a;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      box-shadow: 0 10px 30px rgba(0,0,0,.15);
      border-radius: 12px;
      overflow: hidden;
    }

    th, td {
      border: 1px solid #000;
      padding: 12px;
      vertical-align: top;
      font-size: 15px;
    }

    th {
      background: #e5e7eb;
      text-align: center;
      font-weight: bold;
    }

    td ul {
      margin: 0;
      padding-left: 18px;
      line-height: 1.6;
    }

    .no {
      text-align: center;
      width: 50px;
      font-weight: bold;
    }

    .nama {
      font-weight: bold;
      width: 220px;
    }

    @media (max-width: 768px) {
      body {
        padding: 10px;
      }
      table {
        font-size: 13px;
      }
    }


     .back {
            margin-top: 40px;
            text-align: center;
        }

        .back a {
            display: inline-block;
            padding: 18px 40px;
            font-size: 20px;
            background: #212529;
            color: white;
            text-decoration: none;
            border-radius: 15px;
            text-decoration: none;
        }